//Text settings
.promotext--semibold {
  font-family: SFMONOsemibold;
  color: white;
  font-size: 18px;
  margin-left: 58px;
  margin-right: 74px;
  margin-bottom: 10px;
}

.promotext--light {
  font-family: SFMONOlight;
  color: #aaaaaa;
  font-size: 13px;
  margin-left: 58px;
  margin-right: 74px;
}

.infoText {
  font-size: 12px;
  color: #b7b7b7;
  font-family: SFMONOlight;
}

//Main Grid
.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.frontpicture {
  width: 261.99px;
  height: 245.22px;
  padding-top: 81.3px;
  padding-bottom: 56.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Grid for footer
.button {
  grid-area: guestbtn;
}

.linebreak {
  grid-area: linebreakLeft;
}

.infoText {
  grid-area: info;
}

.linebreak-reverse {
  grid-area: linebreakRight;
}

.loginLine {
  grid-area: loginline;
}

.lowerGridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "guestbtn guestbtn guestbtn"
    "linebreakLeft info linebreakRight"
    "loginline loginline loginline";
}

.google.--login,
.apple.--login,
.facebook.--login {
  border: solid 1.5px #cecece;
  border-radius: 3px;
}
