.genre {
  max-width: 90%;
  margin: auto;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
    padding-bottom: 35px;
    padding-top: 25px;
  }
  
  &__option {
    width: 110px;
    height: 44px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid black;
    border-color: #CECECE;
    border-radius: 5px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: SFMONOmedium;
    color: white;
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
  }
}

.button--genre{
  background: linear-gradient(
    135deg,
    rgba(0, 231, 126, 1) 0%,
    rgba(0, 232, 93, 1) 100%
  );
  width: 274px;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  line-height: 35px;
  text-align: center;
  font-family: SFMONOmedium;
  border: none;
  align-items: center;
  margin-top: 40px;
}
input[type=range].slider__score {
  width: 85%;
  margin: 3.75px auto;
  background-color: transparent;
  -webkit-appearance: none;
  display: block;
}
input[type=range].slider__score:focus {
  outline: none;
}
input[type=range].slider__score::-webkit-slider-runnable-track {
  background: rgba(255, 196, 84, 0.78);
  border: 0;
  border-radius: 2.9px;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__score::-webkit-slider-thumb {
  margin-top: -3.75px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider__score:focus::-webkit-slider-runnable-track {
  background: #ffc454;
}
input[type=range].slider__score::-moz-range-track {
  background: rgba(255, 196, 84, 0.78);
  border: 0;
  border-radius: 2.9px;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__score::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].slider__score::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 3.75px 0;
  color: transparent;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__score::-ms-fill-lower {
  background: #ffc454;
  border: 0;
  border-radius: 5.8px;
}
input[type=range].slider__score::-ms-fill-upper {
  background: rgba(255, 196, 84, 0.78);
  border: 0;
  border-radius: 5.8px;
}
input[type=range].slider__score::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider__score:focus::-ms-fill-lower {
  background: rgba(255, 196, 84, 0.78);
}
input[type=range].slider__score:focus::-ms-fill-upper {
  background: #ffc454;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider__score {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
input[type=range].slider__year {
  width: 85%;
  margin: 3.75px auto;
  background-color: transparent;
  -webkit-appearance: none;
  display: block;
  padding-bottom: 25px;
}
input[type=range].slider__year:focus {
  outline: none;
}
input[type=range].slider__year::-webkit-slider-runnable-track {
  background: rgba(0, 163, 255, 0.78);
  border: 0;
  border-radius: 6.3px;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__year::-webkit-slider-thumb {
  margin-top: -3.75px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1.8px solid rgba(0, 0, 30, 0);
  border-radius: 38px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider__year:focus::-webkit-slider-runnable-track {
  background: #1aacff;
}
input[type=range].slider__year::-moz-range-track {
  background: rgba(0, 163, 255, 0.78);
  border: 0;
  border-radius: 6.3px;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__year::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1.8px solid rgba(0, 0, 30, 0);
  border-radius: 38px;
  cursor: pointer;
}
input[type=range].slider__year::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.65px 0;
  color: transparent;
  width: 100%;
  height: 7.5px;
  cursor: pointer;
}
input[type=range].slider__year::-ms-fill-lower {
  background: #0093e6;
  border: 0;
  border-radius: 12.6px;
}
input[type=range].slider__year::-ms-fill-upper {
  background: rgba(0, 163, 255, 0.78);
  border: 0;
  border-radius: 12.6px;
}
input[type=range].slider__year::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1.8px solid rgba(0, 0, 30, 0);
  border-radius: 38px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider__year:focus::-ms-fill-lower {
  background: rgba(0, 163, 255, 0.78);
}
input[type=range].slider__year:focus::-ms-fill-upper {
  background: #1aacff;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider__year {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.slider__title {
        color: #848484;
        font-size: 15px;
        margin-left: 33px;
        padding-top: 7.5px;
        font-family: SFMONOsemibold;

}
