.body {
  font-family: SFMONOregular;
}

.title {
  font-family: SFMONOregular;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 75px;
  color: white;
}

.addAll__nav {
  font-family: SFMONOregular;
  display: flex;
  flex-direction: row;
}
.addAll__btn {
  font-family: SFMONOregular;
}

.services__list {
  display: grid;
  grid-template-rows: 1fr;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services__title {
  font-family: SFMONOregular;
}

.promotext--semibold {
  font-family: SFMONOsemibold;
  color: white;
  font-size: 18px;
}

.promotext--light {
  font-family: SFMONOlight;
  color: #aaaaaa;
  font-size: 12px;
}

.infoText {
  font-size: 12px;
  color: #b7b7b7;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "footer";
}

.frontpicture {
  width: 261.99px;
  height: 245.22px;
}

.genre {
  max-width: 90%;
  margin: auto;
}

.genre__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 90%;
}

.genre__option {
  width: 113px;
}

.genre__top {
  display: flex;
  justify-content: space-between;
}

/* Remember to add new modules here:
    @forward 'module_name';
*/