.body {
  font-family: SFMONOregular;
}

.title {
  font-family: SFMONOregular;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 75px;
  color: white;
  font-size: 20px;
}

.addAll__nav {
  font-family: SFMONOregular;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.addAll__title {
  color: white;
  font-size: 15px;
  margin-left: 14px;
  padding-top: 7.5px;
}
.addAll__btn {
  background-color: #3c464f;
  font-family: SFMONOregular;
  color: white;
  margin-right: 14px;
  border: none;
  border-radius: 4px;
  width: 126px;
  height: 30px;
}

.services {
  display: grid;
  grid-template-rows: 1fr;
}
.services__btn {
  background-color: #3c464f;
  color: white;
  display: flex;
  flex-direction: row;
  height: 44px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  align-items: center;
}
.services__title {
  font-family: SFMONOregular;
  margin-left: 10px;
}
.services__logo {
  align-items: center;
  margin-left: 7px;
}

.save {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.promotext--semibold {
  font-family: SFMONOsemibold;
  color: white;
  font-size: 18px;
  margin-left: 58px;
  margin-right: 74px;
  margin-bottom: 10px;
}

.promotext--light {
  font-family: SFMONOlight;
  color: #aaaaaa;
  font-size: 13px;
  margin-left: 58px;
  margin-right: 74px;
}

.infoText {
  font-size: 12px;
  color: #b7b7b7;
  font-family: SFMONOlight;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: "header" "main" "footer";
}

.frontpicture {
  width: 261.99px;
  height: 245.22px;
  padding-top: 81.3px;
  padding-bottom: 56.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: guestbtn;
}

.linebreak {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: linebreakLeft;
}

.infoText {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;
}

.linebreak-reverse {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: linebreakRight;
}

.loginLine {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: loginline;
}

.lowerGridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "guestbtn guestbtn guestbtn" "linebreakLeft info linebreakRight" "loginline loginline loginline";
}

.google.--login,
.apple.--login,
.facebook.--login {
  border: solid 1.5px #cecece;
  border-radius: 3px;
  padding-left: 29.4px;
  padding-top: 23.1px;
  padding-right: 29.9px;
  padding-bottom: 6.1px;
}

.genre {
  max-width: 90%;
  margin: auto;
}

.genre__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 90%;
}

.genre__option {
  width: 113px;
}

.genre__top {
  display: flex;
  justify-content: space-between;
}

.--primary {
  margin-left: 54px;
  margin-right: 54px;
}

.text.--break {
  font-family: SFMONOregular;
  font-size: 14;
  color: #707070;
}

.text.--party {
  font-family: SFMONOregular;
  font-size: 22px;
  color: #707070;
  border: none;
  margin-bottom: 4px;
}

.text.--players {
  font-family: SFMONOregular;
  font-size: 14px;
  color: #707070;
  margin-top: 10px;
}

.QR {
  height: 285px;
  width: 274px;
  margin-top: 46px;
}

.invitationBtn {
  background: #00A3FF;
  font-size: 20px;
  font-family: SFMONOregular;
  border: none;
  border-radius: 6px;
  height: 44px;
  width: 274px;
  color: white;
  margin-bottom: 18px;
}

.button {
  background: linear-gradient(135deg, #00e77e 0%, #00e85d 100%);
  width: 274px;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  line-height: 35px;
  text-align: center;
  font-family: SFMONOmedium;
  border: none;
  align-items: center;
  margin-top: 120px;
}

.breakSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 17px;
  margin-top: 10px;
}

.header {
  background: transparent;
  position: relative;
  top: 25px;
}
.header__burgermenu {
  background: transparent;
  border: none;
  width: 50px;
}

.movies {
  height: 560px;
}

.tarzan {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -2;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tenet {
  position: relative;
  left: 0px;
  top: -430px;
  z-index: -1;
  margin-top: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.druk {
  position: relative;
  left: 0px;
  top: -930px;
  z-index: 0;
  margin-top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dislikeBtn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.likeBtn {
  border: none;
  padding: none;
  background-color: transparent;
}

/* Remember to add new modules here:
    @forward 'module_name';
*/