//Font
.text.--info {
  font-family: SFMONOregular;
  font-size: 14;
  color: #707070;
}

.text.--party {
  font-family: SFMONOregular;
  font-size: 22px;
  color: #707070;
  border: none;
}

.text.--players {
  font-family: SFMONOregular;
  font-size: 14px;
  color: #707070;
}

// Invitation button
.invitationBtn {
  background: #00a3ff;
  font-size: 20px;
  font-family: SFMONOregular;
  border: none;
  border-radius: 6px;
  height: 44px;
  width: 274px;
  color: white;
}
