HEAD
//Font
.text.--info {
  font-family: SFMONOregular;
  font-size: 14;
  color: #707070;
}

.text.--party {
  font-family: SFMONOregular;
  font-size: 22px;
  color: #707070;
  border: none;
}

.text.--players {
  font-family: SFMONOregular;
  font-size: 14px;
  color: #707070;
}

// Invitation button
.invitationBtn {
  background: #00a3ff;
  font-size: 20px;
  font-family: SFMONOregular;
  border: none;
  border-radius: 6px;
  height: 44px;
  width: 274px;
  color: white;
}

 .text.--players{
    font-family: SFMONOregular;
    color: #707070;
    margin-top: 10px;
    font-size: 17px;
 }

//Font
.text.--break {
  font-family: SFMONOregular;
  font-size: 14;
  color: #707070;
}

.text.--party {
  font-family: SFMONOregular;
  font-size: 22px;
  color: #707070;
  border: none;
  margin-bottom: 4px;
}

.text.--players {
  font-family: SFMONOregular;
  font-size: 14px;
  color: #707070;
  margin-top: 10px;
}

//QR
.QR {
  height: 285px;
  width: 274px;
  margin-top: 46px;

}

.invitecontainer{
    width: 274px;
    margin: auto;
}
   

// Invitation button
.invitationBtn {
  background: #00a3ff;
  font-size: 20px;
  font-family: SFMONOregular;
  border: none;
  border-radius: 6px;
  height: 44px;
  width: 274px;
  color: white;
  margin-bottom: 18px;

}

.invite__footer .button {
  background: linear-gradient(135deg, #00e77e 0%, #00e85d 100%);
  width: 274px;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  line-height: 35px;
  text-align: center;
  font-family: SFMONOmedium;
  border: none;
  align-items: center;
  margin-top: 120px;
}

.breakSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 17px;
  margin-top: 10px;
}