.body{
    font-family: SFMONOregular;

}

.title {
    font-family: SFMONOregular;
    text-align: center;
    margin-bottom: 45px ;
    margin-top: 75px;
    color: white;
    font-size: 20px;
}


.addAll{
    
    &__nav{
    font-family: SFMONOregular;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    }

    &__title{
        color: white;
        font-size: 15px;
        margin-left: 14px;
        padding-top: 7.5px;
        
    }

    &__btn{
        background-color: #3c464f ;
        font-family: SFMONOregular;
        color: white;
        margin-right: 14px;
        border: none;
        border-radius: 4px;
        width: 126px;
        height: 30px;

    }
}

.services{
    display: grid;
    grid-template-rows: 1fr;
   
    &__btn{
    background-color: #3c464f ;
    color: white;
    display: flex;
    flex-direction: row;
    height: 44px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    align-items: center;

}

    &__title{
    font-family: SFMONOregular;
    margin-left: 10px;

    &__logo{
    align-items: center;
    margin-left: 7px;
    }
}
}