body {
  background-color: #c4c4e2;
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
}

.menu__link:hover,
.menu__link.--active {
  color: #ad1f1f;
  font-weight: bold;
  top: 0;
  left: 0;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ebebeb;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}

/* Color styles */
.color {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  margin-bottom: 5px;
  padding-left: 10px;
}

.color.--primary {
  background: linear-gradient(135deg, #142c2b 0%, #1d1d35 100%);
  color: white;
}

.color.--like {
  background-color: #00e864;
}

.color.--dislike {
  background-color: #d90000;
}

.color.--option {
  background-color: #3c464f;
}

.color.--highlight {
  background-color: #00a3ff;
}

/* Button styles */
.gButton {
  background: linear-gradient(135deg, #00e77e 0%, #00e85d 100%);
  max-width: 175px;
  border-radius: 5px;
  font-size: 1rem;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 5px;
  font-family: SFMONO SFMonoMedium;
}