@use 'general' as *; /* this enables the usage of all variables and mixins from the general folder */

.Button{

    &__save{
        background-color: #00E77E;
        width: 250px ;
        height: 50px;
    }
}