@use 'general' as *; /* this enables the usage of all variables and mixins from the general folder */

.button {
  background: linear-gradient(
    135deg,
    rgba(0, 231, 126, 1) 0%,
    rgba(0, 232, 93, 1) 100%
  );
  width: 274px;
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  line-height: 35px;
  text-align: center;
  font-family: SFMONOmedium;
  border: none;
  align-items: center;
}
