@use '../general' as *; /* this enables the usage of all variables and mixins from the general folder */

.button{

    &__save{
        color: #00E77E;
        width: 250px ;
        height: 50px;
    }
}