.color.--primary {
  background: linear-gradient(
    135deg,
    rgba(20, 44, 43, 1) 0%,
    rgba(29, 29, 53, 1) 100%
  );

  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

$like: #00e864;


$dislike: #d90000;


$option : #3c464f;


$highlight: #00a3ff;
